<div class='page-header'>
<h1>Emoji Encryptor!</h1>
<p>Enter a message below, select English as your source if you'd like to encrypt a message, select Emoji as your source if you'd like to decrypt a message.</p>
</div>

<div class='message-form'>
<%= render "home/form" %>
</div>
</br>
</br>
</br>
<div class='footer'>
<p class='bottom-message'>Just a heads up. Emoji Characters are not supported in Google Chrome, for a better experience use Safari.</p></div>