@import "bootstrap";
body { padding-top: 60px; }

.btn {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    float: right;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
